# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
test/build/cmake_install.cmake
test/build/CMakeCache.txt
test/build/Makefile
test/build/STL_test
test/build/test_set
test/build/CMakeFiles/cmake.check_cache
test/build/CMakeFiles/CMakeDirectoryInformation.cmake
test/build/CMakeFiles/CMakeOutput.log
test/build/CMakeFiles/Makefile.cmake
test/build/CMakeFiles/Makefile2
test/build/CMakeFiles/progress.marks
test/build/CMakeFiles/TargetDirectories.txt
test/build/CMakeFiles/3.16.3/CMakeCCompiler.cmake
test/build/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
test/build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
test/build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
test/build/CMakeFiles/3.16.3/CMakeSystem.cmake
test/build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
test/build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
test/build/CMakeFiles/STL_test.dir/build.make
test/build/CMakeFiles/STL_test.dir/cmake_clean.cmake
test/build/CMakeFiles/STL_test.dir/CXX.includecache
test/build/CMakeFiles/STL_test.dir/depend.internal
test/build/CMakeFiles/STL_test.dir/depend.make
test/build/CMakeFiles/STL_test.dir/DependInfo.cmake
test/build/CMakeFiles/STL_test.dir/flags.make
test/build/CMakeFiles/STL_test.dir/link.txt
test/build/CMakeFiles/STL_test.dir/progress.make
test/build/CMakeFiles/test_set.dir/build.make
test/build/CMakeFiles/test_set.dir/cmake_clean.cmake
test/build/CMakeFiles/test_set.dir/CXX.includecache
test/build/CMakeFiles/test_set.dir/depend.internal
test/build/CMakeFiles/test_set.dir/depend.make
test/build/CMakeFiles/test_set.dir/DependInfo.cmake
test/build/CMakeFiles/test_set.dir/flags.make
test/build/CMakeFiles/test_set.dir/link.txt
test/build/CMakeFiles/test_set.dir/progress.make
.vscode/settings.json
test/build/test_multiset
test/build/test_unordered_set
test/build/CMakeFiles/test_multiset.dir/build.make
test/build/CMakeFiles/test_multiset.dir/cmake_clean.cmake
test/build/CMakeFiles/test_multiset.dir/CXX.includecache
test/build/CMakeFiles/test_multiset.dir/depend.internal
test/build/CMakeFiles/test_multiset.dir/depend.make
test/build/CMakeFiles/test_multiset.dir/DependInfo.cmake
test/build/CMakeFiles/test_multiset.dir/flags.make
test/build/CMakeFiles/test_multiset.dir/link.txt
test/build/CMakeFiles/test_multiset.dir/progress.make
test/build/CMakeFiles/test_unordered_set.dir/build.make
test/build/CMakeFiles/test_unordered_set.dir/cmake_clean.cmake
test/build/CMakeFiles/test_unordered_set.dir/CXX.includecache
test/build/CMakeFiles/test_unordered_set.dir/depend.internal
test/build/CMakeFiles/test_unordered_set.dir/depend.make
test/build/CMakeFiles/test_unordered_set.dir/DependInfo.cmake
test/build/CMakeFiles/test_unordered_set.dir/flags.make
test/build/CMakeFiles/test_unordered_set.dir/link.txt
test/build/CMakeFiles/test_unordered_set.dir/progress.make

python/.idea/
